/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 Slider styling
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.slider-value-label {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: deepskyblue;
}

label.control {
    font-size: larger;
    margin-right: .6em;
    margin-left: 1em;
}