/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 Slider styling
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.slider-value-label {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: deepskyblue;
    margin: 0 .5em 0 .5em;
}

#range-slider {
    display: inline-block;
    width: 270px
}

label.control {
    font-size: larger;
    margin-right: .6em;
    margin-left: 1em;
}