#carousel-container {
    display: inline-block;
    vertical-align: middle;
    font-size: .9em;
    margin-left: 5em;
}

/* ----------------------------------------- */

#carousel-table {
    border-collapse: collapse;
    margin: 0 auto;
}

#carousel-table td {
    padding: 2px 4px 2px 4px;
    min-width: 26px;
    text-align: right;
}

#carousel-table td.country-name {
    width: 100px;
    text-align: left;
}

#carousel-table td.control {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    outline: none;
}