#carousel-container {
    display: inline-block;
    vertical-align: middle;
    font-size: .9em;
    margin-left: 1.6em;
}

/* ----------------------------------------- */

#carousel-table {
    border-collapse: collapse;
    margin: 0 auto;
}

#carousel-table tr.emphasize {
    font-weight: bold;
}

#carousel-table td {
    padding: 2px 4px 2px 4px;
    min-width: 26px;
    text-align: right;
}

#carousel-table td.country-name {
    width: 100px;
    text-align: left;
}

#carousel-table td.control {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    outline: none;
}

#carousel-table td.construction {
    color: orange;
}

#carousel-table td.planned {
    color: #419641;
}

#carousel-table td.control div {
    font-size: 1.6em;
    margin-right: .5em;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.icon-grey-link {
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}
