.page {
    padding: 0 10px 0 10px;
    height: 100%;
    width: 100%;
    display: table;
}

#page-map {
    padding: 0 !important;
}

.row {
    display: table-row;
    width: 100%;
}

.row > div {
    padding: 0;
    margin: 0;
}