table#supercharger-table {
    border-collapse: collapse;
}

table#supercharger-table tbody {
}

table#supercharger-table th {
    background: whitesmoke;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid white;
}

table#supercharger-table td {
    border: 1px solid #ECECEC;
    text-align: left;
}

table#supercharger-table td.tog {
    text-align: center;
}


#supercharger-table-container {
}