/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Map Controls
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#map-controls {
    text-align: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 Slider styling
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.slider-value-label {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: deepskyblue;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 Controls Table
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
table.controls {
    border-collapse: collapse;
    border: 0 solid black;
    margin: 0 auto;
    max-width: 900px;
}

table.controls th {
    background: whitesmoke;
    text-align: right;
    padding-right: 5px;
}

table.controls td {
    padding: 5px 5px 5px 5px;
}
