.supercharger-table-container {
    display: inline-block;
    text-align: center;

    height: 156px;
    min-height: 156px;
    width: 100%;

    overflow-y: scroll;
    overflow-x: hidden;
}

.supercharger-table-container table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
}

.supercharger-table-container th {
    text-align: left;
    background: whitesmoke;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid white;
}

.supercharger-table-container td {
    text-align: left;
    border: 1px solid #dddddd;
    padding-left: 3px;
    padding-right: 3px;
}

.supercharger-table-container td.tog {
    text-align: center;
    vertical-align: middle;
}