#supercharger-data-table table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
}

#supercharger-data-table th {
    text-align: left;
    background: whitesmoke;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid white;
}

#supercharger-data-table td {
    text-align: left;
    border: 1px solid #dddddd;
    padding-left: 3px;
    padding-right: 3px;
}

#supercharger-data-table td.tog {
    text-align: center;
    vertical-align: middle;
}

#supercharger-data-table td.gps {
    font-family: monospace;
}