/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Html/Body
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Layout
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
.header {
    display: table-row;
}

.content {
    display: table-row;
    height: 100%;
}
.footer {
    display: table-row;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Map Controls
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#map-controls {
    text-align: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Canvas
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#map-canvas {
    height: 100%;
    min-height: 850px; /* for IE10, otherwise has zero height */
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 Slider styling
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.slider-value-label {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: deepskyblue;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 Controls Table
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
table.controls {
    border-collapse: collapse;
    border: 0px solid black;
    margin: 0 auto;
    max-width: 900px;
}

table.controls th {
    background: whitesmoke;
    text-align: right;
    padding-right: 5px;
}

table.controls td {
    padding: 5px 5px 5px 5px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Info Window
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.info-window-content {
}

.info-window-content .title {
    font-weight: bold !important;
    font-size: 1.5em !important;
}