/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Html/Body
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html {
}

body {
    margin: 10px;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Map Controls
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#map-controls {
    height: 10%;
    text-align: center;
    margin-bottom: 10px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Canvas
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#map-canvas {
    margin-top: 50px;
    min-height: 700px;
    border: 10px solid black;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 Slider styling
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.slider-value-label {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: deepskyblue;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 Controls Table
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
table.controls {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0 auto;
}

table.controls th {
    background: whitesmoke;
    text-align: right;
    padding-right: 5px;
}

table.controls td {
    padding: 5px 5px 5px 5px;
}
