html {
    height: 100%
}

body {
    height: 90%;
    margin: 10px;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#map-controls {
    height: 10%;
}

#map-canvas {
    height: 100%;
}

#range-number-text {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: deepskyblue;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - */
table.controls {
    border-collapse: collapse;
    border: 1px solid black;
}

table.controls th {
    background: whitesmoke;
    text-align: right;
    padding-right: 5px;
}

table.controls td {
    padding: 5px 5px 5px 5px;
}
