.map-context-menu {
    background: #ffffff;
    border: 1px solid #8888FF;
    z-index: 10;
    position: relative;
    width: 140px;
}

.map-context-menu div {
    padding-left: 5px;
    cursor: context-menu;
    border: 1px solid #91765d;
}

.map-context-menu div:hover {
    background-color: #8888FF;
}
