#supercharger-count-container {
    float: right;
    font-size: .8em;
    font-weight: lighter;
    color: gray;
    padding-right: 0;
    text-align: right;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 Count table
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.supercharger-count-table {
    border-collapse: collapse;
}

.supercharger-count-table td {
    border: 1px solid silver;
    text-align: right;
}

.supercharger-count-table th {
    text-align: center;
    font-weight: bold;
    border: 1px solid silver;
}

.supercharger-count-table th.vert {
    text-align: right;
    border: 0;
}

