#supercharger-count-container {
    float: right;
    font-size: smaller;
    font-weight: lighter;
    color: gray;
    padding-right: 10px
}

#advanced-options-trigger {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}