/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 Slider styling
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.slider-value-label {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: deepskyblue;
    margin: 0 .5em 0 .5em;
}

.slider-control {
    display: inline-block !important;
    width: 270px !important;
}

label.control {
    font-size: larger;
    margin-right: .6em;
    margin-left: 1em;
}

.status-checkbox-panel {
    display: inline-block;
    font-size: larger;
}

.status-checkbox-panel img {
    vertical-align: top;
    margin-right: .3em;
}

.status-checkbox-panel div {
    display: inline-block;
    margin-right: 1em;
    cursor: pointer;
}