#supercharger-data-table {
    border-collapse: collapse;
    margin: auto;
    padding: 0;
}

#supercharger-data-table th {
    text-align: left;
    background: whitesmoke;
    padding: 5px;
    border: 1px solid white;
}

#supercharger-data-table th[data-sort] {
    cursor: pointer;
}

#supercharger-data-table td {
    text-align: left;
    border: 1px solid #dddddd;
    padding-left: 3px;
    padding-right: 3px;
}

#supercharger-data-table td.tog {
    text-align: center;
    vertical-align: middle;
}

#supercharger-data-table td.gps {
    font-family: monospace;
    font-size: .85em;
}