/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 Slider styling
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.slider-value-label {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: deepskyblue;
}