/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Html/Body
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Layout
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.layout-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
.layout-header {
    display: table-row;
}

.layout-content {
    display: table-row;
    height: 100%;
}

