.map-context-menu {
    background: #f2f1f0;
    border: 1px solid black;
    z-index: 10;
    position: relative;
    width: 200px;
    box-shadow: 10px 10px 5px #888888;
}

.map-context-menu div {
    padding: 5px 10px 5px 10px;
    cursor: context-menu;
    border: 1px solid #91765d;
}

.map-context-menu div:hover {
    background-color: sandybrown;
}
