#supercharger-count-container {
    color: gray;
    padding-right: 0;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 Count table
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.supercharger-count-table {
    border-collapse: collapse;
    margin: auto;
}

.supercharger-count-table td {
    border: 1px solid silver;
    text-align: right;
    padding: 2px;
}

.supercharger-count-table th {
    text-align: center;
    font-weight: bold;
    border: 1px solid silver;
    padding: 2px 5px 2px 5px;
}

.supercharger-count-table th.vert {
    text-align: right;
    border: 0;
}

