#supercharger-data-table {
    border-collapse: collapse;
    margin: auto;
    padding: 0;
}

#supercharger-data-table th {
    text-align: left;
}

#supercharger-data-table th[data-sort] {
    cursor: pointer;
}

#supercharger-data-table td {
    text-align: left;
}

#supercharger-data-table td.link {
    text-align: center;
    vertical-align: middle;
}

#supercharger-data-table td.gps {
    font-family: monospace;
    font-size: .75em;
}